/* #BFECFF
#CDC1FF
#FFF6E3
#FFCCEA */
body {
    background: #FFF6E3;
}
.container-header-top {
    width: 100%;
    /* background-color: #BFECFF; */
    background-color: #c9bfe1;
    /* background-color: #FFF6E3; */
    /* background-color: #FFCCEA; */
    /* border: black 2px solid; */
    max-height: 270px;
    align-items: center;
    margin: 0;
}

.profile-toon-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    /* border: black 2px solid; */
}

.profile-toon-image img {
    /* display: block;
    margin: auto; */
    border: #BFECFF 5px solid;
    border-radius: 10%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    
    
}
.whos-who {
    vertical-align: middle;
}
.whos-who img{
    width: 90%;
    height: 90%;
    margin-left: 20%;
}
nav ul {
    float: right;
    padding-right: 20px;
    /* padding-top: 20px; */
}
nav ul li{
    list-style: none;
    font-family: "Bubblegum Sans", sans-serif;
    font-size: 17px;
    display: inline-block;
    line-height: 100px;
    margin: 0 2px;
    text-transform: uppercase;
}
nav ul li a{
    color: #FFF6E3;
    border-radius: 3px;
    padding: 3px 5px;
}
a.active, a:hover {
    background-color: #b8a6fd;
    transition: 0.5s;
}
.checkbtn{
    font-size: 25px;
    color: #FFF6E3;
    float: right;
    line-height: 100px;
    margin-right: 5px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.carousel-caption{
    color: #50d1a0;
}
.carousel-indicators .active {
    background-color: #BFECFF;
}
.carousel-control-prev-icon {
    color: #BFECFF;
}
.carousel-control-next-icon {
    color: #BFECFF;
}
img.cats-prod-img{
    width: 800px;
    height: 640px;
    margin-left: 20%;
}
img.cat1_prod_img{
    width: 800px;
    height: 640px;
    object-fit: contain;    
}

#grad1 {
    height: 200px;
    background-color: #BFECFF; /* For browsers that do not support gradients */
    background-image: linear-gradient(#c9bfe1, #BFECFF);
  }

h2.cat01{
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 900;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    color: #50d1a0;
    font-size: 40px;
    background-image: linear-gradient(#c9bfe1, #BFECFF);
    margin-bottom: -2px;
}
div.prod-slide-bg{
    background-image: linear-gradient( #BFECFF,#c9bfe1);
}

footer.page-footer {
    background-image: linear-gradient(#c9bfe1,#BFECFF);
}
body > footer > div > footer {
    background-image: linear-gradient(#c9bfe1,#BFECFF);
}
body > div.products-category2 > div.products-category3 > footer > div > footer{
    background-image: linear-gradient(#c9bfe1,#BFECFF);
    
}
div.contact{
    background-image: linear-gradient(#c9bfe1,#BFECFF,#c9bfe1);
    padding: 152px;
    text-align: center;
    
}
div.details {
    border: #c9bfe1 5px solid;
    width: fit-content;
    align-items: center;
    padding: 20px;
    margin: auto;
}

@media (max-width: 992px) {
    nav ul li a{
        font-size: 15px;
    }
    .whos-who h1 {
        font-size: 30px;
    }
    .profile-toon-image img {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 886px) {
    nav ul li a{
        font-size: 12px;
    }
    .whos-who h1 {
        font-size: 20px;
    }
    .profile-toon-image img {
        width: 80px;
        height: 80px;
    }
}


@media (max-width: 784px) {
    nav ul{
        padding-right: 10px;
    }
    nav ul li a{
        font-size: 10px;
    }
    .whos-who h1 {
        font-size: 20px;
    }
    .profile-toon-image img {
        width: 80px;
        height: 80px;
    }
}
@media (max-width: 740px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: relative;
        width: 100%;
        left: -680px;
        text-align: center;

    }
    nav ul li{
        display: block;
        font-size: 30px;
        line-height: 20px;
    }
    body{
        background-color: #CDC1FF;
    }
    #check:checked ~ ul{
        left: 0;
    }

}