<footer class="footer mt-auto py-3 bg-body-tertiary page-footer">
  <div class="container">
    <footer class="footer mt-auto py-3 bg-body-tertiary">
      <div class="container">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
              <li class="nav-item"><a href="{{url_for('home')}}" class="nav-link px-2 text-body-secondary">Home</a></li>
              <li class="nav-item"><a href="{{url_for('products')}}" class="nav-link px-2 text-body-secondary">Products</a></li>
              <li class="nav-item"><a href="{{url_for('contact_me')}}" class="nav-link px-2 text-body-secondary">Contact Me</a></li>
          </ul>
          <p class="text-center text-body-secondary">© {{ year }} M E Illustration, Inc</p>
      </div>
</footer>
  </div>
</footer>

  </body>
</html>