{% include "header.html" %}

<div class="products-category1">
    <h2 class="cat01">Themed tote bags</h2>
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1" id="ind-test"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4" class=""></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5" class=""></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5" aria-label="Slide 6" class=""></button>
        </div>
        <div class="carousel-inner prod-slide-bg">
          <div class="carousel-item">
            <img src="../static/img/Hootie_Tote.jpg" alt="First Slide" class="cat1_prod_img">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Hootie</h1>
                        <p> 100% Natural Cotton, Reusable <br>
                            Size: 42cm x 38cm <br>
                            £ 15 each</p>
                    </div>
                </div>
          </div>
          <div class="carousel-item active carousel-item-start">
            <img src="../static/img/Calsipher_Tote.jpg" alt="Second Slide" class="cat1_prod_img">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Calispher</h1>
                        <p> 100% Natural Cotton, Reusable <br>
                            Size: 42cm x 38cm <br>
                            £ 15 each</p>
                    </div>
                </div>
          </div>
          <div class="carousel-item carousel-item-next carousel-item-start">
            <img src="../static/img/King_Tote.jpg" alt="Third Slide" class="cat1_prod_img">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>King</h1>
                        <p> 100% Natural Cotton, Reusable <br>
                            Size: 42cm x 38cm <br>
                            £ 15 each</p>
                    </div>
                </div>
          </div>
          <div class="carousel-item">
            <img class="cat1_prod_img" src="../static/img/Gigi_Tote.jpg" alt="Fourth slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Gigi </h1>
                        <p> 100% Natural Cotton, Reusable <br>
                            Size: 42cm x 38cm <br>
                            £ 15 each</p>
                    </div>
                </div>
          </div>
          <div class="carousel-item">
            <img class="cat1_prod_img" src="../static/img/Totoro_Tote.jpg" alt="Fith slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Totoro</h1>
                        <p> 100% Natural Cotton, Reusable <br>
                            Size: 42cm x 38cm <br>
                            £ 15 each</p>
                    </div>
                </div>
          </div>
          <div class="carousel-item">
            <img class="cat1_prod_img" src="../static/img/No_Face_Tote.jpg" alt="Sixth slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>No Face</h1>
                        <p> 100% Natural Cotton, Reusable <br>
                            Size: 42cm x 38cm <br>
                            £ 15 each</p>
                    </div>
                </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="products-category2">
    <h2 class="cat01">Cute shaped button badges </h2>
    <div id="myCarousel1" class="carousel slide mb-6" data-bs-ride="carousel1">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel1" data-bs-slide-to="0" class="" aria-label="Slide 1" id="ind-test"></button>
          <button type="button" data-bs-target="#myCarousel1" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
          <button type="button" data-bs-target="#myCarousel1" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
          <button type="button" data-bs-target="#myCarousel1" data-bs-slide-to="3" aria-label="Slide 4" class=""></button>
          <button type="button" data-bs-target="#myCarousel1" data-bs-slide-to="4" aria-label="Slide 5" class=""></button>
        </div>
        <div class="carousel-inner prod-slide-bg">
          <div class="carousel-item">
            <img src="../static/img/Bulbasaur_Button.jpg" alt="First Slide" class="cat1_prod_img">
            <div class="container">
                <div class="carousel-caption">
                  <h1>Bulbasaur</h1>
                  <p>Size: 57mm x 57mm <br>
                    £ 4 each</p>
                </div>
              </div>
          </div>
          <div class="carousel-item active carousel-item-start">
            <img src="../static/img/Calico_Cat_Button_.jpg" alt="Second Slide" class="cat1_prod_img">
                <div class="container">
                    <div class="carousel-caption">
                    <h1>Calico cat</h1>
                    <p>Size: 57mm x 57mm <br>
                        £ 4 each</p>
                    </div>
                </div>
          </div>
          <div class="carousel-item carousel-item-next carousel-item-start">
            <img src="../static/img/Orange_Cat_Button.jpg" alt="Third Slide" class="cat1_prod_img">
                <div class="container">
                    <div class="carousel-caption">
                    <h1>Ginger cat </h1>
                    <p>Size: 57mm x 57mm <br>
                        £ 4 each</p>
                    </div>
                </div>
          </div>
          <div class="carousel-item">
            <img class="cat1_prod_img" src="../static/img/Totoro_Button_.jpg" alt="Fourth slide">
            <div class="container">
                <div class="carousel-caption">
                <h1>Totoro</h1>
                <p>Size: 57mm x 57mm <br>
                    £ 4 each</p>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="cat1_prod_img" src="../static/img/Tuxedo_Cat_Button_.jpg" alt="Fith slide">
            <div class="container">
                <div class="carousel-caption">
                <h1>Tuxedo cat</h1>
                <p>Size: 57mm x 57mm <br>
                    £ 4 each</p>
                </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel1" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="products-category3">
        <h2 class="cat01">Beautiful acrylic keychains </h2>
        <div id="myCarousel2" class="carousel slide mb-6" data-bs-ride="carousel2">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#myCarousel2" data-bs-slide-to="0" class="" aria-label="Slide 1" id="ind-test"></button>
              <button type="button" data-bs-target="#myCarousel2" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
              <button type="button" data-bs-target="#myCarousel2" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
              <button type="button" data-bs-target="#myCarousel2" data-bs-slide-to="3" aria-label="Slide 4" class=""></button>
              <button type="button" data-bs-target="#myCarousel2" data-bs-slide-to="4" aria-label="Slide 5" class=""></button>
              <button type="button" data-bs-target="#myCarousel2" data-bs-slide-to="5" aria-label="Slide 6" class=""></button>
              <button type="button" data-bs-target="#myCarousel2" data-bs-slide-to="6" aria-label="Slide 7" class=""></button>
              <button type="button" data-bs-target="#myCarousel2" data-bs-slide-to="7" aria-label="Slide 8" class=""></button>
            </div>
            <div class="carousel-inner prod-slide-bg">
              <div class="carousel-item">
                <img src="../static/img/No_Face_Keychain_.jpg" alt="First Slide" class="cat1_prod_img">
                    <div class="container">
                        <div class="carousel-caption">
                        <h1>No Face</h1>
                        <p>Size: 63mm +- <br>
                            £ 12 each</p>
                        </div>
                    </div>
              </div>
              <div class="carousel-item active carousel-item-start">
                <img src="../static/img/Totoro_Keychain_.jpg" alt="Second Slide" class="cat1_prod_img">
                    <div class="container">
                        <div class="carousel-caption">
                        <h1>Tororo</h1>
                        <p>Size: 63mm +- <br>
                            £ 12 each</p>
                        </div>
                    </div>
              </div>
              <div class="carousel-item carousel-item-next carousel-item-start">
                <img src="../static/img/Calsipher_Keychain_.jpg" alt="Third Slide" class="cat1_prod_img">
                    <div class="container">
                        <div class="carousel-caption">
                        <h1>Calsipher</h1>
                        <p>Size: 63mm +- <br>
                            £ 12 each</p>
                        </div>
                    </div>
              </div>
              <div class="carousel-item">
                <img class="cat1_prod_img" src="../static/img/Jiji_Keychain_.jpg" alt="Fourth slide">
                    <div class="container">
                        <div class="carousel-caption">
                        <h1>Jiji</h1>
                        <p>Size: 63mm +- <br>
                            £ 12 each</p>
                        </div>
                    </div>
              </div>
              <div class="carousel-item">
                <img class="cat1_prod_img" src="../static/img/Strawberry_Shortcake_Keychain_.jpg" alt="Fith slide">
                    <div class="container">
                        <div class="carousel-caption">
                        <h1>Strawberry Shortcake</h1>
                        <p>Size: 63mm +- <br>
                            £ 12 each</p>
                        </div>
                    </div>
              </div>
              <div class="carousel-item">
                <img class="cat1_prod_img" src="../static/img/Cream_Caramel_Keychain_.jpg" alt="Sixth slide">
                    <div class="container">
                        <div class="carousel-caption">
                        <h1>Cream Caramel</h1>
                        <p>Size: 63mm +- <br>
                            £ 12 each</p>
                        </div>
                    </div>
              </div>
              <div class="carousel-item">
                <img class="cat1_prod_img" src="../static/img/Thicc_Thighs_.jpg" alt="Seventh slide">
                    <div class="container">
                        <div class="carousel-caption">
                        <h1>Thic thighs</h1>
                        <p>Size: 63mm +- <br>
                            £ 12 each</p>
                        </div>
                    </div>
              </div>
              <div class="carousel-item">
                <img class="cat1_prod_img" src="../static/img/Black_Forest_Keychain_.jpg" alt="Eighth slide">
                    <div class="container">
                        <div class="carousel-caption">
                        <h1>Black Forest</h1>
                        <p>Size: 63mm +- <br>
                            £ 12 each</p>
                        </div>
                    </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <div class="products-category4">
            <h2 class="cat01">Fan Art and Original Art Prints</h2>
            <div id="myCarousel3" class="carousel slide mb-6" data-bs-ride="carousel2">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#myCarousel3" data-bs-slide-to="0" class="" aria-label="Slide 1" id="ind-test"></button>
                  <button type="button" data-bs-target="#myCarousel3" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                  <button type="button" data-bs-target="#myCarousel3" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
                  <button type="button" data-bs-target="#myCarousel3" data-bs-slide-to="3" aria-label="Slide 4" class=""></button>
                  <button type="button" data-bs-target="#myCarousel3" data-bs-slide-to="4" aria-label="Slide 5" class=""></button>
                  <button type="button" data-bs-target="#myCarousel3" data-bs-slide-to="5" aria-label="Slide 6" class=""></button>
                  <button type="button" data-bs-target="#myCarousel3" data-bs-slide-to="6" aria-label="Slide 7" class=""></button>
                  <button type="button" data-bs-target="#myCarousel3" data-bs-slide-to="7" aria-label="Slide 8" class=""></button>
                  <button type="button" data-bs-target="#myCarousel3" data-bs-slide-to="8" aria-label="Slide 9" class=""></button>
                  <button type="button" data-bs-target="#myCarousel3" data-bs-slide-to="9" aria-label="Slide 10" class=""></button>
                </div>
                <div class="carousel-inner prod-slide-bg">
                  <div class="carousel-item">
                    <img src="../static/img/Hello_Kitty_Print.jpg" alt="First Slide" class="cat1_prod_img">
                        <div class="container">
                            <div class="carousel-caption">
                            <h1>Hello Kitty</h1>
                            <p>250 gsm <br>
                                A4 £ 12 each <br>
                                A5 £  8 each</p>
                            </div>
                        </div>
                  </div>
                  <div class="carousel-item active carousel-item-start">
                    <img src="../static/img/Noodle_Print.jpg" alt="Second Slide" class="cat1_prod_img">
                        <div class="container">
                            <div class="carousel-caption">
                            <h1>Noodle</h1>
                            <p>250 gsm <br>
                                A4 £ 12 each <br>
                                A5 £  8 each</p>
                            </div>
                        </div>
                  </div>
                  <div class="carousel-item carousel-item-next carousel-item-start">
                    <img src="../static/img/Naruto_Print.jpg" alt="Third Slide" class="cat1_prod_img">
                        <div class="container">
                            <div class="carousel-caption">
                            <h1>Naruto</h1>
                            <p>250 gsm <br>
                                A4 £ 12 each <br>
                                A5 £  8 each</p>
                            </div>
                        </div>
                  </div>
                  <div class="carousel-item">
                    <img class="cat1_prod_img" src="../static/img/Calsipher_Print.jpg" alt="Fourth slide">
                        <div class="container">
                            <div class="carousel-caption">
                            <h1>Calsipher</h1>
                            <p>250 gsm <br>
                                A4 £ 12 each <br>
                                A5 £  8 each</p>
                            </div>
                        </div>
                  </div>
                  <div class="carousel-item">
                    <img class="cat1_prod_img" src="../static/img/King_Print_.jpg" alt="Fith slide">
                        <div class="container">
                            <div class="carousel-caption">
                            <h1>King</h1>
                            <p>250 gsm <br>
                                A4 £ 12 each <br>
                                A5 £  8 each</p>
                            </div>
                        </div>
                  </div>
                  <div class="carousel-item">
                    <img class="cat1_prod_img" src="../static/img/Rengoku_Print_.jpg" alt="Sixth slide">
                        <div class="container">
                            <div class="carousel-caption">
                            <h1>Rengoku</h1>
                            <p>250 gsm <br>
                                A4 £ 12 each <br>
                                A5 £  8 each</p>
                            </div>
                        </div>
                  </div>
                  <div class="carousel-item">
                    <img class="cat1_prod_img" src="../static/img/Alistor_Print.jpg" alt="Seventh slide">
                        <div class="container">
                            <div class="carousel-caption">
                            <h1>Alistor</h1>
                            <p>250 gsm <br>
                                A4 £ 12 each <br>
                                A5 £  8 each</p>
                            </div>
                        </div>
                  </div>
                  <div class="carousel-item">
                    <img class="cat1_prod_img" src="../static/img/Fizzy_Print.jpg" alt="Eighth slide">
                        <div class="container">
                            <div class="carousel-caption">
                            <h1>Fizzy</h1>
                            <p>250 gsm <br>
                                A4 £ 12 each <br>
                                A5 £  8 each</p>
                            </div>
                        </div>
                  </div>
                  <div class="carousel-item">
                    <img class="cat1_prod_img" src="../static/img/Draculora_Print.jpg" alt="Eighth slide">
                        <div class="container">
                            <div class="carousel-caption">
                            <h1>Draculora</h1>
                            <p>250 gsm <br>
                                A4 £ 12 each <br>
                                A5 £  8 each</p>
                            </div>
                        </div>
                  </div>
                  <div class="carousel-item">
                    <img class="cat1_prod_img" src="../static/img/Gojo_Print_.jpg" alt="Eighth slide">
                        <div class="container">
                            <div class="carousel-caption">
                            <h1>Gojo</h1>
                            <p>250 gsm <br>
                                A4 £ 12 each <br>
                                A5 £  8 each</p>
                            </div>
                        </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel3" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel3" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% include "footer.html" %}